# PANDAS

## SERIES

In [1]:
import pandas as pd
import numpy as np

working with series in pandas:

In [2]:
a = pd.Series([1,2,3,4,5])
print(a)

b = pd.Series([1,2,3],index=['a','b','c'])
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64

# Numpy array in Pandas Series

In [3]:
ar = np.array([1,2,3,4,5])
aa = pd.Series(ar)
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Passing list(hetrogeneous) directly into Panda series

In [4]:
lists = [1,'name',2,3]
sili = pd.Series(lists)
print(sili)

0       1
1    name
2       2
3       3
dtype: object

## #passing dictionry into panda series (works according to value)

In [5]:
d={1:'a',2:'b'}
ac = pd.Series(d)
print(ac)

dic={'a':1,'b':2}
ad = pd.Series(dic)
print(ad)

d1={'a':1.0,'b':2.0}
ax = pd.Series(d1)
print(ax)

1    a
2    b
dtype: object
a    1
b    2
dtype: int64
a    1.0
b    2.0
dtype: float64

## Range in Pandas

In [6]:
aq = pd.Series(15,index=range(1,10,2))
print(aq)

av = pd.Series(range(1,6),index=range(1,10,2))
print(av)

1    15
3    15
5    15
7    15
9    15
dtype: int64
1    1
3    2
5    3
7    4
9    5
dtype: int64

# QUESTIONS

## Abhi invest their time in learning mars paradox based on the week days. Print the series according to the terminology.

In [ ]:
li = ['1 Hrs','1 Hrs','1 Hrs','1 Hrs','1 Hrs','1 Hrs']
for i in range(0,6):
    hour = input('Enter the Hours you spent\n formate==1 Hrs:')
    li[i] = hour
    i = i+1
    
Days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
abhi = pd.Series(li,index=Days)
print('Time invested by abhi on learning mars paradox\n',abhi)

# CHALLENGE QUESTION

## Print the series of difference of 7 with in the range taken from user and indexing is based the (series+3+3) of above series.

In [ ]:
n=int(input('r'))
nn=int(input('rr'))
ac = pd.Series(range(n+3,nn+3,7),index=range(n,nn,7))
print(ac)